<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@400;600;700&display=swap" rel="stylesheet">
<!-- アフィリエイトリダイレクト先の接続を事前確立（楽天リンクのラグ軽減） -->
<link rel="dns-prefetch" href="//af.moshimo.com">
<link rel="preconnect" href="https://af.moshimo.com" crossorigin>
<link rel="dns-prefetch" href="//item.rakuten.co.jp">
<link rel="dns-prefetch" href="//thumbnail.image.rakuten.co.jp">
<link rel="dns-prefetch" href="//m.media-amazon.com">
